BasedOnStyle: Google
UseTab: false
# 缩进宽度
IndentWidth: 2
# 圆括号的换行方式
BreakBeforeBraces: Attach
# 允许短的函数显示为单行
AllowShortFunctionsOnASingleLine: false
# 允许短的if语句显示为单行
AllowShortIfStatementsOnASingleLine: false
# 针对OC的block的缩进宽度
ObjCBlockIndentWidth: 4
# 针对OC，属性名后加空格
ObjCSpaceAfterProperty: true
# switch的case缩进
IndentCaseLabels: true
# 每行字符的长度
ColumnLimit: 150
# 注释对齐
AlignTrailingComments: true
# 括号后加空格
SpaceAfterCStyleCast: true
# 不在小括号里加空格
SpacesInParentheses: false
# 不在中括号里加空格
SpacesInSquareBrackets: false
AlignEscapedNewlinesLeft: true
AllowShortLoopsOnASingleLine: false
MaxEmptyLinesToKeep: 1
DerivePointerAlignment: false
PointerAlignment: Right

ConstructorInitializerAllOnOneLineOrOnePerLine: false